<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ajouter une vente</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header th:insert="fragments/header :: header"></header>

<section class="container">
    <h2>Nouvelle vente</h2>
    <form th:action="@{/ventes/ajouter}" th:object="${vente}" method="post">
        <label>Produit :</label>
        <input type="text" th:field="*{produit}" required/>

        <label>Montant (FCFA) :</label>
        <input type="number" step="0.01" th:field="*{montant}" required><br>

        <label>Région :</label>
        <select th:field="*{region}">
            <option value="DAKAR">Dakar</option>
            <option value="THIES">Thiès</option>
            <option value="STLOUIS">Saint-Louis</option>
        </select>

        <div class="form-actions">
            <button type="submit" class="btn edit">💾 Enregistrer</button>
            <a th:href="@{/ventes}" class="btn">↩ Retour</a>
        </div>
    </form>
</section>
</body>
</html>
